body{
    display: flex;
    background:linear-gradient(rgba(251, 253, 253, 0.919),rgb(183, 237, 250));
    padding:10px;

}
.body{
    display: flex;
    padding: 220px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url(registration.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    
}
.form2{
    padding: 20px;
    background-color: white;
}
.form{
    display: flex;
    flex-direction: column;
    background-color:#6cd0e6a5;
    padding: 20px;
    border-radius: 10px;
    width: 286.913;
    max-width: 286.913;
    height: 620px;
    align-content: space-around;

}
.heading{
    color:rgb(13, 187, 246);
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 500px;
    margin-right: 20px;
 
}
input{
    padding:15px;
    border-radius: 8px;
    margin-bottom: 5px;
    display: flex;
    align-content: space-around;
    
}
label{
    font-size: 21px;
    color: rgb(3, 30, 54);
    font-weight:bold;
}
button{
    padding: 18px;
    width: 200px;
    font-size: 18px;
    color: rgb(9, 9, 9);
    background-color:rgb(9, 211, 218);
    border-radius: 9px;

}
.result{
    position: absolute;
    top: 70%;
    left: 35%;
}

nav a{color: rgb(9, 78, 55);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#succesfull,#notsuccesfull{
    font-size: 28px;
    font-weight: bold;
    color: rgb(2, 27, 10);

}
.invalid{
    position: absolute;
    top: 20%;
    left: 33%;
}
